body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  min-height: calc(100vh - 40px);
}

footer {
  position: absolute;
  bottom: 20px;
  right: 50px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  color: white;
}

.link {
  color: white;
}

.contacts {
  display: flex;
  gap: 20px;
}
.details {
  display: flex;
  gap: 10px;
  align-items: center;
}

.homeIcon {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  color: white;
  font-size: 32px;
  cursor: pointer;
}
