.wrapper {
  background-image: url('../../assets//images/homepage.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.title {
  top: 90px;
  color: white;
}

.button {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid white;
  color: white;
  transition: transform 0.3s ease;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}
.button:hover {
  transform: scale(1.1);
}

.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (min-width: 768px) {
  .title {
    top: 130px;
  }
  .wrapper {
    padding-top: 120px;
  }
}

@media (min-width: 1440px) {
  .title {
    top: 140px;
  }

  .wrapper {
    justify-content: center;
    padding-top: 0px;
  }
  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
